.crypto-block{
    display: flex;
    justify-content: space-between;
    padding: 3px 15px 3px 0;
    cursor: pointer;

    &:hover{
        background: rgba(0, 0, 0, 0.03);
        border-radius: 34px;
    }
    .coin-group{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 2px;
    }
    .crypto-title{
        margin-top: auto;
        margin-bottom: auto;
        flex-grow: 1;
    }
    .crypto-name{
        text-align: end;
        flex-grow: 2;
        margin-top: auto;
        margin-bottom: auto;
    }
}