::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #B4B4B4;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #B4B4B4;
}

:root, * {
	scrollbar-color: #B4B4B4 #8080804a;
	scrollbar-width: 5px;
	scrollbar-height: 5px;
}

.bg-gradient-radial {
	background-clip: border-box;
	background-attachment: scroll;
	z-index: -1;
	inset: 0;
	position: fixed;
	pointer-events: none;
}

.navbar-inner {
	float: right;
}

.rounded-nav {
	border-radius: 50% !important;
	
	.nav-link {
		border-radius: 50rem !important;
	}
}

.btn-forte-primary {
	background: var(--forte-primary);
	border-radius: 100px;
	color: var(--forte-primary-text-color);
}

.btn-forte-image {
	background: var(--forte-primary);
	border-radius: 100px;
	color: var(--forte-primary-text-color);
	padding: 0 5px;
}

.min-h-50 {
	min-height: 50px;
	line-height: 1.8;
}

.min-h-100 {
	min-height: 150px;
}

.card {
	background: var(--forte-secondary);
	border-radius: 17px;
	border: none;
	padding: 1.5rem 1rem;
	
	.card-header {
		padding: 0 1.5rem 0.5rem;
		position: relative;
		//display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 0;
		background-color: transparent;
		
		a {
			outline: none;
		}
	}
	
	.card-text {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: #AAAAAA;
	}
}

.dataTable-filter {
	border-radius: 100px;
}

.form-switch .form-check-input {
	//background-color: #e2e2e2;
	height: 1.5rem;
	width: 3rem;
}

.form-check-input:checked {
	border: none;
}

.coin-img {
	background-color: #ffffff;
	border-radius: 100px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.coin {
	white-space: nowrap;
	position: relative;
	color: #fff;
	display: inline-flex;
	font-size: 1rem;
	vertical-align: middle;
	font-weight: 600;
	cursor: pointer;
}

.coin-group {
	display: flex;
	justify-content: flex-start;
	
	.coin {
		img {
			@extend .coin-img;
		}
		
		&:not(:first-child) {
			margin-left: -0.65rem;
		}
	}
}

.text-justify {
	text-align: justify;
	text-justify: inter-word;
}

.pool {
	.card {
		padding: 2rem;
	}
	
	.form-switch {
		padding-left: 0;
	}
	
	.form-check {
		.form-check-input {
			float: none;
			margin-left: -1.5em;
			margin-top: 0.5em;
		}
	}
	
	table > :not(caption) > * > * {
		padding: 1.5rem 0 0.5rem 0;
	}
	
	//table > :not(:last-child) > :last-child > * {
	//	border-bottom-color: transparent;
	//}
	
	thead {
		border: none;
	}
	
	th {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: var(--forte-primary-text-color);
	}
	
	tr {
		margin-top: 20px;
	}
	
	.btn-forte-action {
		background: #F1F1F1;
		border-radius: 100px;
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		color: var(--forte-primary-text-color);
	}
}

.form-control-coin, .form-control:disabled, .form-control[readonly] {
	background-color: transparent !important;
	color: #BBBBBB;
	border: none;
	font-weight: 400;
	font-size: 36px;
	line-height: 41px;
	width: 0;
	flex: 1 1 auto;
}

.form-control:focus {
	color: #8b8b8b;
	//background-color: transparent;
}

.balance-card {
	border: 1px solid rgba(226, 226, 226, 0.5);
	background: #f1f1f1;
	border-radius: 20px;
	min-height: 100px;
	padding: 10px 25px;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
	
	.h4 {
		align-self: center;
		line-height: 1;
		margin-bottom: 0;
	}
}

.balance-card-swapper {
	position: relative;
	
	.balance-card-swapper-parent {
		position: absolute;
		background: #D9D9D9;
		border: 4px solid #FFFFFF;
		border-radius: 100px;
		left: 43%;
		top: -20px;
		height: 40px;
		width: 40px;
		text-align: center;
		cursor: pointer;
		z-index: 1;
		
		img {
			margin-top: 4px;
			vertical-align: middle;
		}
	}
	
	.separator {
		position: absolute;
		left: 5%;
		width: 90%;
		border-bottom: 1px solid rgba(226, 226, 226, 0.5);
	}
}

.balance-card-group {
	.balance-card {
		margin: 0;
		min-height: 70px;
		font-weight: 400;
		
		.coin-value {
			font-size: 24px;
			line-height: 28px;
			color: #6B6B6B;
			overflow-x: auto;
		}
		
		.coin-symbol {
			font-size: 20px;
			line-height: 23px;
			color: #999999;
		}
		
		&:not(:last-child) {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom: 0;
		}
		
		&:not(:first-child) {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-top: 0;
		}
	}
	
	.balance-card-swapper {
		
		width: 100%;
		
		.balance-card-swapper-parent {
			height: auto;
			width: auto;
			border: none;
			background: #D9D9D9;
			line-height: 0;
			top: -12px;
			
			img {
				margin: 0;
			}
		}
	}
}

.price-info {
	font-weight: 400;
	
	.title {
		font-size: 20px;
		line-height: 23px;
		color: #6B6B6B;
	}
	
	.sub-title {
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		color: #A8A6A6;
	}
}

.text-balance {
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #AAAAAA;
}

.btn-starch {
	width: 100%;
}

.modal-content {
	border: none;
	border-radius: 17px;
}

.modal-footer {
	&.with-bg {
		background: #D9D9D9;
	}
	
	&.full-btn {
		padding: 0;
		border-radius: 0 0 17px 17px;
		
		.btn {
			margin: 0;
			border: none;
			padding: 20px;
			font-weight: 700;
			font-size: 20px;
			line-height: 23px;
			text-align: center;
			color: #5A5A5A;
			
			&:hover {
				color: #5A5A5A;
				background: initial;
				border: none;
			}
		}
	}
}

.text-1 {
	font-size: 1.5rem;
}

.modal-confirmation-wrapper {
	height: 125px;
	width: 125px;
	border-radius: 125px;
	background: #F1F1F1;
	margin: 0 auto 18px;
}

.info-wrapper {
	background: #D9D9D9;
	height: 34px;
	width: 90px;
	border-radius: 34px;
	margin-right: 0.7rem;
	text-align: center;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	img {
		margin-top: 5px;
	}
}

.multi-coin {
	img {
		border: 4px solid #F1F1F1;
		border-radius: 100%;
		
		&:not(:first-child) {
			margin-left: -24px;
		}
	}
}

.loader {
	max-height: 100px;
}

.cursor-pointer {
	cursor: pointer;
}

.nav-pills {
	border: 3px solid #FFFFFF;
	border-radius: 30px;
}

.nav-link {
	padding: 10px 20px;
	font-size: 18px;
	line-height: 23px;
	color: #FFFFFF;
}

.wallet-button {
	padding-top: 13px;
	padding-bottom: 13px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background: #FFFFFF;
	border-radius: 100px;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 23px;
	color: #418FFF;
}

.nav-link:hover, .nav-link:focus {
	color: #FFFFFF;
}

.wallet-card {
	border: 1px solid rgba(226, 226, 226, 0.5);
	background: #f1f1f1;
	border-radius: 20px;
	padding: 18px 20px;;
	justify-content: space-between;
	margin: 8px 0;
	width: 100%;
	text-align: left;
	color: #bebebe;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
}

body.dark-mode .wallet-card {
	background-color: #303133;
	border-color: #303133;
}

.setting-modal .form-control {
	background: rgba(226, 226, 226, 0.5);
	border-radius: 100px;
	height: 42px;
}

.form-switch .label-selected {
	@extend .fw-bold;
}

.button-max {
	@extend .fw-normal;
}

.input-group-text {
	height: 42px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

/*Toggle*/
.theme-setting {
	cursor: pointer;
	margin-top: 7px;
}
.toggle-checkbox {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.toggle-slot {
	position: relative;
	height: 2.8em;
	width: 6em;
	border: 3px solid #e4e7ec;
	border-radius: 10em;
	background-color: white;
	transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
	background-color: #374151;
}

.toggle-button {
	transform: translate(3.0em, 0.2em);
	position: absolute;
	height: 2.0em;
	width: 2.0em;
	border-radius: 50%;
	background-color: #ffeccf;
	box-shadow: inset 0 0 0 0.75em #ffbb52;
	/*transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);*/
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
	background-color: #485367;
	box-shadow: inset 0 0 0 0.75em white;
	transform: translate(0.4em, 0.2em);
}

.sun-icon {
	position: absolute;
	height: 1.6em;
	width: 2em;
	color: #ffbb52;
}

.sun-icon-wrapper {
	position: absolute;
	height: 0em;
	width: 7em;
	opacity: 1;
	transform: translate(0.4em, 1.9em) rotate(15deg);
	transform-origin: 100% 10%;
	/*transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);*/
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
	opacity: 0;
	transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
	position: absolute;
	height: 2em;
	width: 2em;
	color: white;
}

.moon-icon-wrapper {
	position: absolute;
	height: 1.5em;
	width: 3.5em;
	opacity: 0;
	transform: translate(11em, 2em) rotate(0deg);
	transform-origin: 50% 50%;
	/*transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);*/
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
	opacity: 1;
	transform: translate(3em, 0em) rotate(-15deg);
}

.btn > img,
.btn > span {
	vertical-align: middle;
}

.modal-body .balance-card {
	display: flex;
}

.modal-body .balance-card-group .balance-card .coin-symbol {
	font-size: 16px;
}

.modal-body .coin-img{
	height: 25px;
	width: 25px;
}

.pair-title {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

.btn-danger {
	background-color:#FF7070;
	border-color: #FF7070;
}

.btn-success {
	background-color: #6EC1A3;
	border-color: #6EC1A3;
}