/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
  body.dark-mode {
    background-size: auto;
  }
  .card , .pool .card {
    padding: 1rem 0.5rem;
  }
  .card .card-header {
    padding: 0 0.5rem 0.5rem;
    margin-bottom: 1rem;
  }
  .balance-card .form-control {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .card-body {
    padding: 0
  }
  .coin-icon {
    width: 24px;
    height: 24px;
  }
  .btn-forte-image {
    padding: 8px;
  }
  h6, .h6 {
    font-size: 0.8rem;
  }
  .btn {
    line-height: 12px;
  }
  .btn-submit {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .pool table > :not(caption) > * > * {
    padding: 1.0rem 0 0.5rem 0;
  }
  .sm-hidden {
    display: none;
  }
  .balance-card {
    padding: 10px;
  }
  .mt-xs-2{
    margin-top: 0.5rem;
  }
  .header-left {
    column-count: 1;
  }
  .logo{
    height: 40px;
    width: 100px;
  }
  .nav-link {
    padding: 6px 15px;
  }
  .form-switch {
    padding-left: 0;
  }
  .toggle-slot {
    height: 2.5em;
    width: 5.5em;
  }
  .toggle-button {
    transform: translate(2.8em, 0.1em);
    height: 1.8em;
    width: 1.8em;
  }
  .button-max {
    padding: 2px 6px !important;
  }
  .header-right{
    order: 1;
  }
  .header-center{
    order: 2;
    margin: auto;
  }
  .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    transform: translate(2.8em, -0.1em) rotate(-15deg);
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .header-center{
    margin-left: 6%;
  }
}
@media (min-width: 768px) and  (max-width: 1080px) {
  .claim-button {
    margin-top: 10px;
  }
}

@media (min-width: 1081px) and  (max-width: 1282px) {
  .claim-button-1 {
    margin-top: 10px;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
@media (max-width: 1399.98px) {
  .container {
    padding-right: 35px;
    padding-left: 30px;
    max-width: 100% !important;
  }
}