@media (max-width: 1399.98px) {
  .container {
    padding-right: 35px;
    padding-left: 30px;
    max-width: 100% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
  .container {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
   body.dark-mode {
    background-size: auto;
  }
  .card , .pool .card {
    padding: 1rem 0.5rem;
  }
  .card .card-header {
    padding: 0 0.5rem 0.5rem;
    margin-bottom: 1rem;
  }
  .my-position{
    justify-content:center;
  }
  .balance-card .form-control {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .card-body {
    padding: 0
  }
  .coin-icon {
    width: 24px;
    height: 24px;
  }
  .btn-forte-image {
    padding: 8px;
  }
   h6, .h6 {
    font-size: 0.8rem;
  }
  .btn {
    line-height: 12px;
  }
  .btn-submit {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .balance-card {
    padding: 10px;
  }
  .mt-xs-2{
    margin-top: 0.5rem;
  }
  .header-left {
    column-count: 1;
  }
  .logo{
    height: 40px;
    width: 100px;
  }
  .nav-link {
    padding: 10px 26px;
  }
  .form-switch {
    padding-left: 0;
  }
  .toggle-slot {
    height: 2.5em;
    width: 5.5em;
  }
  .toggle-button {
    transform: translate(3.0em, 0.1em);
    height: 1.8em;
    width: 1.8em;
  }
  .button-max {
    padding: 2px 6px !important;
  }
  .header-right{
    order: 1;
  }
  .header-center{
    order: 2;
    margin: auto;
  }
  .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    transform: translate(2.8em, -0.1em) rotate(-15deg);
  }
  .header-center {
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    justify-self: center;
    z-index: 99;
    position: fixed;
    bottom: -20px;
    left: 22%;
    transform: translate(50%, -50%);
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0 6px 10px;
  }
  .sm-hidden {
    display: none;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .header-center{
    margin-left: 6%;
  }
}
@media (min-width: 768px) and  (max-width: 1080px) {
  .claim-button {
    margin-top: 10px;
  }
}
@media (min-width: 1081px) and  (max-width: 1282px) {
  .claim-button-1 {
    margin-top: 10px;
  }
}
@media (max-width: 960px) {
  .pool {
    .card {
      max-height: 78vh;
      .pool-list {
        overflow-y: scroll;
      }
      .accordion-item {
        border: none  ;
      }
      .accordion-button {
        padding: 0;
      }
      .accordion-body {
        padding: 0;
      }
      .accordion-button:not(.collapsed) {
        background-color: transparent;
        box-shadow: none;
      }
      .accordion-button:focus {
        box-shadow:none;
      }
      //.accordion-button:not(.collapsed)::after{
      //  background-image: var(--bs-accordion-btn-icon);
      //}
      .btn-forte {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      th {
        border-bottom: #D9D9D9 solid 2px;
      }
      tbody {
        .coin-group {
          img {
            height: 32px !important;
            width: 32px !important;
          }
        }
        tr {
          display: block;
          margin-top: 0;
          padding: 0;
          border-bottom: #D9D9D9 solid 2px;
        }
        td {
          display: block;
          padding: 0.5rem 0 0.5rem 0;
          .mobile-title{
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #9E9E9E;
          }
          .connector{
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #5A5A5A;
          }
          .sm-device{
            tr {
              margin-top: 2px;
            }
            td {
              padding: 5px 8px;
            }
          }
          .btn-forte:not(:last-child){
            margin-right: 4px;
          }
          tr {
            border: transparent;
          }
        }
        .action {
          padding-top: 0;
          .border-start {
            border-left: none !important;
          }
        }
      }
      .sm-hidden {
        display: none;
      }
      .sm-show {
        display: block !important;
      }
    }
  }
}
@media (max-width: 630px) {
  .header-center {
    left: 12%;
  }
}
@media (max-width: 480px) {
  .header-center {
    left: 5%;
  }
}