:root {
	--forte-primary: #CACACA;
	--forte-secondary: #ffffff;
	--forte-primary-text-color: #5A5A5A;
	--forte-btn-hover-bg: #D9D9D9;
	--forte-btn-hover-border-color: #D9D9D9;
	--forte-secondary-text-color: #A8A6A6;
	--forte-main-bg-color: #E2E2E2;
	--bs-primary: #EAEAEA;
	--forte-dark-primary-text-color: #B4B4B4;
}

.modal {
	--bs-modal-border-radius: 17px !important;
	--bs-modal-inner-border-radius: 17px !important;
}